@import "../../colors.scss";
.experience-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center; 
    margin: 3rem 10% 3rem 10%;


    .experience-left{
        display: flex;
        flex-direction: column;
        flex: 0 0 70%; 

        .experience-header{
            font-size: large;
            color: $white;
            font-family: 'Courier New', Courier, monospace;
        }


        .experience-detail{
            color: $white;

            .detail-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 2rem 10% 0 10%;
                border-radius: 25px;
                padding-left: 5%;
                border: $white dashed;


                .details{
                display: flex;
                flex-direction: column;
                font-size: large;
                padding-right: 2rem;

                .details-header-wrapper{
                    display: flex;
                    flex-direction: row; 
                    .details-header{
                        display: flex;
                        flex-direction: column; 
                        padding-left: 5%;
                    }
                }

                .company{
                    font-size: medium;
                    color: $silver;
                }

                .date{
                font-size: small;
                color: $silver;
                }

                .list{
                    line-height: normal;
                    font-weight: 300;
                    margin-inline-start: 4rem;
                }

                li{
                    white-space:wrap;
                }
                
            }
            }
        }
    }
}

@media screen and (max-width:830px) {
    .experience-container{
        flex-direction: column;
        gap: 23px;
        text-align: left;
    

    .experience-left .experience-detail .detail-wrapper .details .details-header-wrapper{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }


    .experience-left .experience-detail .detail-wrapper .details .list{
        margin-inline-start: 0px;
    }
}

}
