.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #19376d 0%,
    #04152d 100%
  );
}



.btn{
  border-radius: 100px 100px 100px 100px;
  padding: 10px 30px;
  width: fit-content;
  height: 4rem;
  font-size: large;
  font-weight: 700;
  color: white;
  background-color: #576cbc;
  border: none;
  cursor: pointer;
}


@media screen and (max-width:830px) {
  .home-container{
    overflow: hidden;
  }
}
